@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: #1D72A7;
}
.anuncios{
    background-color: #5BC0DE;
    padding-bottom: 5%;
    cursor:pointer;
}
.anuncios_totales{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;

}
.anuncio{
    margin-top: 5%;
    background-color: #fff;
    padding: 2.5%;
    border-radius: 10px;
    max-width: 350px;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}
.seccion1{
    color: #fff;
}
.categoria{
    padding: 3%;
    margin-bottom: 2%;
    background-color: #29B28E;
    width: max-content;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}
.descripcion{
    color: #29B28E;
}
.estado{
    margin-top: 2%;
    width: 30%;
    background-color: #C52020;
    border: none;
    padding: 1%;
    border-radius: 5px;
    color: #fff;
}
.fecha{
    margin-top: 5%;
}
.agregar{
    margin: 2%;
    display: flex;
    gap: 5%;
}   
.escribir{
    border: none;
    background-color: #FFF;
    padding: 1%;
    border-radius: 10px;
}
.escribir{
    padding: 2%;
    color: #FDD700;
    transition: all 0.5s ease;
}
.escribir:hover {
    background-color: #FDD700;
    color: #ffffff;
}
#form{
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 2%;
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  20px 20px 88px #656565b7,
            -20px -20px 88px #7b7b7b85;
}
#anuncio_en_curso{
    border-color: #5BC0DE;
    border-radius: 10px;
    height: 35vh;
    padding: 1%;
    width: 100%;
    transition: 0.5s;
    outline: none;
}
#anuncio_en_curso:focus{
    padding: 2%;
    border-color: #FDD700;
}
.botones_peticiones{
    display:flex;
    gap: 5%;
    margin-top: 2%;
    align-items: center;
    justify-content: center; 
}
.peticiones{
    margin: 1%;
}
.subtitulo{
    color: #4A4A4A;
}
.anuncio_previo{
    padding: 4%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.escrito{
    width: 40%;
}
.pedir_form{
    display: flex;
    align-items: center;
    gap: 5%;
}
#file{
    display: none;
}
.label_imagen{
    display: flex;
    align-items: center;
    gap: 5%;
    background-color: #5BC0DE;
    color: #FFF;
    width: 35%;
    padding: 1%;
    border-radius: 10px;
    transition: 0.5s;
}
.label_imagen:hover{
    background-color: #FDD700;
}
#form_listo{
    border-radius: 10px;
    padding: 1%;
    border: none;
    display: flex;
    background-color: #5BC0DE;
    transition: 0.5s;
}
#form_listo:hover{
    background-color: #FDD700;
}

.seccion1_form{
    display: flex;
    gap: 5%;
}
#nombre{
    width: 50%;
    border: none;
    border-bottom: 2px solid #5BC0DE;
    transition: 0.5s;
    outline: none;
}
#nombre:focus{
    padding: 1%;
    border:none;
    border-bottom: 2px solid #FDD700;
}
#descartar{
    top: 1%;
    right: 2%;
    position: absolute;
    background-color: transparent;
    border: none;
}
#descartar2{
    top: 1%;
    right: 2%;
    position: absolute;
    border-radius: 10px;
    padding: 1%;
    background: #FDD700;
    box-shadow:  20px 20px 60px #d4d4d4,
                -20px -20px 60px #ffffff;
    border: none;
}
#carta_muestra{
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    padding: 1.5%;
    border-radius: 20px;
    background: #ffffff;
    box-shadow:  20px 20px 88px #656565b7,
            -20px -20px 88px #7b7b7b85;
}

.img_carta_desplegada{
    width: 99%;
    height: 25vh;
    border-radius: 10px;
    object-fit: cover; 
    overflow: hidden;
    display: block;
    margin: auto;
}
.fecha_lugar_desplegada{
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
    text-align: center;
    justify-content: center;
}
.lugar{
    border: none;
    padding: 1%;
    display: flex;
    border-radius: 10px;
    align-items: center;
    width: 100px;
    gap: 10%;
    color: #5BC0DE;
    transition: all 0.5s ease;
}

.peticiones_todas{
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    gap: 2%;
    margin: 2%;
    flex-wrap: wrap;

}
.peticion_una{
    margin-top: 3%;
    padding: 1%;
    align-items: center;
    color: #4A4A4A;
    position: relative;
    background-color: #4A4A4A;
    display: flex;
    width: 350px;
    border-radius: 10px;
    border-radius: 5px;
    background: #cfcfcf;
    box-shadow:  20px 20px 60px #b0b0b08c,
                -20px -20px 60px #eeeeee97;
                border: thick;
}

.boton_especifico_peticiones{
    position: absolute;
    right: 3%;
    width: 20%;
    height:70%;
    border-radius: 4px;
    color: #ffffff;
    background-color: #5BC0DE;
    border: none;
}
.buscador{
    margin-left: 1%;
    display: flex;
    align-items: center;
    gap: 1%;
    width: 50%;
    padding: 1%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #f0f0f048,
                -20px -20px 30px #ffffff36;
}
#busca{
    width: 95%;
    border: none;
    padding: 1.5%;
    outline: none;
}
#busca:focus{
    border:transparent;
}
#icono_buscar{
    color: #5BC0DE;
}

@media (max-width: 768px) {
    .seccion1_form {
        display: inline-block;
        width: 100%;
    }
    .botones_peticiones{
        display: inline-block;
        width: 100%;
    }
    #form{
        width: 95%;
    }
    .label_imagen, .botones_peticiones, #form_listo{
        margin-top: 5%;
    }
    .lugar{
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .label_imagen, #nombre{
        width: 100%;
    }
}
@media (max-width:481px) {
    .anuncio_previo{
        display: inline-block;
    }
    .escrito{
        width: 90%;
        margin-bottom: 4%;
    }
    .anuncios{
        width: 100%;
    }
    .buscador{
        width: 100%;
    }
    .peticion_una{
    }
}