@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* { 
font-family: "Montserrat", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
background: #f4f4f4;
padding: 20px;
}
.calendar-container {
max-width: 1000px;
margin: auto;
background: #ffffff;
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
padding: 20px;
}
header {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}
.view-buttons button {
margin-left: 5px;
padding: 6px 12px;
border: none;
border-radius: 4px;
cursor: pointer;
background: #e0e0e0;
}
.view-buttons button.active {
background: #00a5d7d2;
color: white;
}
h2 {
margin: 0;
}
.monthly, .weekly {
display: none;
}
.days, .week-grid {
display: grid;
gap: 4px;
}
.monthly .days {
grid-template-columns: repeat(7, 1fr);
}
.day-name, .day-box {
text-align: center;
padding: 10px;
border-radius: 5px;
}
.day-name {
font-weight: bold;
background: #f0f0f0;
}
.day-box {
background: #fafafa;
cursor: pointer;
min-height: 60px;
position: relative;
}
.day-box:hover {
background: #dff0ff;
}
.today {
border: 2px solid #00a5d7d2;
}
.event {
font-size: 12px;
background: #ffc107;
padding: 2px 4px;
border-radius: 3px;
display: inline-block;
margin-top: 2px;
}
.selected {
background: #00a5d7d2;
color: white;
}
.week-grid {
grid-template-columns: 60px repeat(7, 1fr);
}
.hour-label, .week-cell {
border: 1px solid #e0e0e0;
height: 50px;
position: relative;
}
.hour-label {
text-align: center;
font-size: 12px;
background: #f9f9f9;
line-height: 50px;
}
.week-header {
grid-column: span 8;
display: grid;
grid-template-columns: 60px repeat(7, 1fr);
}
.week-header div {
text-align: center;
padding: 8px;
font-weight: bold;
background: #f0f0f0;
}
.week-event {
position: absolute;
background: #ffc107;
font-size: 12px;
padding: 2px 4px;
border-radius: 4px;
left: 5px;
right: 5px;
top: 5px;
z-index: 2;
}
.fc {
    background-color: #00a5d7d2;
    border-color: #00a5d7d2;
    transition: all 0.5s ease;
    border: none;
    padding: 2%;
}
.fc:hover{
    background-color: #5bc0ded2;
    border-color: #5bc0dee1;
}

.footer-principal {
  background-color: #1D72A7;
  color: white;
  font-size: 13.5px;
  padding: 6px 10px;
  width: 100%;
}

.footer-contenido {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
}

.footer-info p,
.footer-creditos p {
  margin: 0;
}

.footer-titulo {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 2px;
}

.footer-principal a {
  text-decoration: none;
}

.footer-creditos a img.logo-creador {
  max-width: 90px;
  height: auto;
  margin-top: 2px;
}