@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.fc {
    font-family: "Montserrat", sans-serif;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -5%);
    color: #fff;
}
.fc .fc-view-harness{
    background-color: #ffffff30;
}
.fc .fc-daygrid-day.fc-day-today {
    background-color: #5bc0ded2;
}
.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active{
    background-color: #5bc0ded2;
    border-color: #5bc0dee1;
    
}
.fc .fc-button-primary {
    background-color: #00a5d7d2;
    border-color: #00a5d7d2;
    transition: all 0.5s ease;
}
.fc .fc-button-primary:hover{
    background-color: #5bc0ded2;
    border-color: #5bc0dee1;
}
.fc-h-event {
    background-color: #FDD700;
    border-color: #FDD700;
}

.footer-principal {
  background-color: #1D72A7;
  color: white;
  font-size: 13.5px;
  padding: 6px 10px;
  width: 100%;
}

.footer-contenido {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
}

.footer-info p,
.footer-creditos p {
  margin: 0;
}

.footer-titulo {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 2px;
}

.footer-principal a {
  text-decoration: none;
}

.footer-creditos a img.logo-creador {
  max-width: 90px;
  height: auto;
  margin-top: 2px;
}